

ion-item {
  --inner-border-width:0;
}

ion-card {
  max-width: 30%;
  display:inline-block;
  ion-card-header {
    span {
      font-size:0.8rem;
    }
  }
  ion-card-content {
    padding-bottom:0;
    padding-right:0;
    padding-left:0;
    
    ion-list {
      padding-bottom:0;
    }
  }
}

.cards-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap:wrap;
}

.label-container {
  display:flex;
  flex-direction: row;
}

.icon-container {
  cursor:pointer;
}

.annotation-container {
  --background:rgba(var(--ion-color-warning-rgb),0.5);
}

.ready-icon {
  animation: notify 1.5s infinite;
}

@keyframes notify {
  0% {
    font-size: 1.8rem;
    color: var(--ion-color-success);
  }
  50% {
    font-size: 2.3rem;
    color: #e6ff06;
  }

  100% {
    font-size: 1.8rem;
    color: var(--ion-color-success);
  }
}
