<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Zamówienia
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="cards-container">
<ion-card *ngFor="let order of orders">
  <ion-card-header class="ion-text-center ion-no-padding">
    <ion-item color="primary">
      <span slot= "start" style="font-weight: bold;">{{order.waiter.waiterFirstName}} {{order.waiter.waiterLastName}}</span>
      <ion-label class="ion-text-center">Stolik {{order.table}}</ion-label>
      <span slot="end" style="font-weight:bold">{{order.orderDate | date: 'HH:mm'}}</span>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor = "let orderedDish of order.orderedDishes;let i = index;" lines="full"  
      class="ion-align-items-center ion-no-padding">
      <div class="label-container">
      <span style="margin-right:0.5rem;margin-left:1rem;">{{i+1}}. </span>
      <ion-label class= "ion-no-margin dish-label" text-wrap>{{orderedDish.dish.dishName}}</ion-label>
       </div>
          <ion-item slot="end" lines="none" class="ion-no-padding ion-no-margin icon-item">
              <div [ngSwitch]="orderedDish.orderDishStatus" slot="end">
                  <div *ngSwitchCase="'inProgress'" class="icon-container" (click) = "changeStatusToCurrentryPrepared(orderedDish)">
                    <ion-icon name="caret-forward-outline" style="font-size:1.4rem !important;"></ion-icon>
                  </div>
                  <div *ngSwitchCase="'delivered'" class="icon-container">
                      <ion-icon name="checkmark-done-outline" style="font-size:1.4rem !important;"></ion-icon>
                  </div>
                  <div *ngSwitchCase="'currentlyPrepared'" class="icon-container" (click) = "changeStatusToReady(orderedDish)">
                    <ion-icon name="timer-outline" style="font-size:1.4rem !important;"></ion-icon>
                  </div>
                  <div *ngSwitchCase="'ready'" class="icon-container">
                      <ion-icon name="alert-outline" style="font-size:1.4rem !important;" class="ready-icon"></ion-icon>
                  </div>
              </div>
          </ion-item>
      </ion-item>
      <ion-item *ngIf="order.orderAnnotation != undefined && order.orderAnnotation.length > 0" class="annotation-container">
        <ion-label class="ion-no-padding ion-no-margin" style="font-size:0.9rem;" text-wrap>
            {{order.orderAnnotation}}
        </ion-label>
        </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</div>
</ion-content>
